 <div class="row">
     <div class="col-lg-12">
         <div class="panel panel-default" ng-controller="jbpmTestCtrl">
             <div class="panel-heading">
                 	jbpmtest
             </div>
             	
             <!-- .panel-body -->
    <button ng-click="query()">query</button>         
    <button ng-click="go('NANA1','')">start</button>         
 	<table border="1" width="100%">
	 	<thead>
	        <tr>
	          <td>id</td>
	          <td>name</td>
	          <td>&nbsp;</td>
	        </tr>
	      </thead>
	      <tbody>
	      	<tr ng-repeat="task in tasklist">
				<td>{{task.id}}</td>
				<td>{{task.name}}</td>
				<td><a href="" ng-click="go('NANA1',task.id)">下一步</a></td>
	      	</tr>
	      </tbody>
 	</table>
 
 	<table border="1" width="100%">
	 	<thead>
	        <tr>
	          <td>id</td>
	          <td>name</td>
	          <td>&nbsp;</td>
	        </tr>
	      </thead>
	      <tbody>
	      	<tr ng-repeat="task in taskinwaitinglist">
				<td>{{task.id}}</td>
				<td>{{task.name}}</td>
	      	</tr>
	      </tbody>
 	</table>
 	
 	
         </div>
         <!-- /.panel -->
     </div>
     <!-- /.col-lg-12 -->
 </div>

