
<div ng-controller="deptRiskQryCtrl">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary templatemo-content-widget white-bg no-padding">
           <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion">查询条件</a>
                </h4>
           </div>
        	<div id="collapseOne" class="panel-collapse collapse in">
	           	<div class="panel-body">
	           		<p>
	           			<lable>项目编号:</lable>
	            		<input ng-model="productId"/>
	            		<lable>项目名称：</lable>
	            		<input ng-model="productName"/>
	            		<!--  <lable>项目类型:：</lable>
		            	<input ng-model="productType"/>-->
		            	<button ng-click="onSearch()">查询</button>
	           		</p>
	            </div>
        	</div>
        </div>
        <div class="panel panel-primary templatemo-content-widget white-bg no-padding">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion">风险列表</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                
					 <table class="table table-bordered table-striped"  st-pipe="getDeptRiskList" st-table="displayed">
						<thead>
							<tr>
								<th st-sort="taskId">任务编号</th>
								<th st-sort="productId">项目编号</th>
								<th st-sort="productName">项目名称</th>
								<th st-sort="status">项目状态</th>
								<th st-sort="oper">操作</th>
							</tr>
						</thead>
						<tbody ng-show="!isLoading" ng-repeat="row in displayed" ng-click="selectDeptRisk(row)" ng-switch on="isSelected(row)">
							<tr ng-class-even="'active'" ng-class-odd="'success'">
								<td>{{row.taskId}}</td>
								<td>{{row.productId}}</td>
								<td>{{row.productName}}</td>
								<td>{{row.status}}</td>
								<td><a href="" ng-click="onEditDeptRisk(row)">{{row.oper}}</a></td>
							</tr>
						</tbody>
						<tbody ng-show="isLoading">
							<tr>
								<td colspan="5" class="text-center">Loading ... </td>
							</tr>
						</tbody>
						<tfoot>
						<tr>
							<td class="text-center" st-pagination="" st-items-by-page="10" colspan="5">
							</td>
						</tr>
						</tfoot>
					</table>	
                </div>
            </div>
        </div>
    </div>
</div>