
<div ng-controller="userQryCtrl">
    <div class="panel-group" id="accordion">
        <div class="panel panel-primary templatemo-content-widget white-bg no-padding">
           <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion">查询条件</a>
                </h4>
           </div>
           <div class="panel-body">
	        	<div id="collapseOne" class=" panel-collapse collapse in">
	           	<div>
	           		<p>
	           			<lable>统一认证号:</lable>
	            		<input ng-model="id"/>
	            		<lable>用户姓名：</lable>
	            		<input ng-model="name"/>
	            		
	           		</p>
	            	</div>
	        	</div>
        	</div>
        </div>
        <div class="panel panel-primary templatemo-content-widget white-bg no-padding">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion">用户列表</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in">
                <div >
                
                	 
	 <table class="table table-bordered table-striped"  st-pipe="getUserList" st-table="displayed">
		<thead>
			<tr>
			   	<th st-sort={{$index}}>序号</th>
				<th st-sort="id">统一认证号</th>
				<th st-sort="name">用户姓名</th>
				<th st-sort="email">e-mail</th>
				<th st-sort="ext">分机</th>
				<th st-sort="mobile">手机</th>
				<th st-sort="createtime">上次登录时间</th>
				<td colspan="2"><a href="" ng-click="onAddUser()">新增</a></td>
			</tr>
			<tr class="hidden">
				<th colspan="4"><input class="hidden" st-search="id" ng-model="id"/></th>
				<th colspan="5"><input class="hidden" st-search="name" ng-model="name"/></th>
			</tr>
		</thead>
		<tbody ng-show="!isLoading" ng-repeat="row in displayed" ng-click="selectUser(row)" ng-switch on="isSelected(row)">
			<tr ng-class-even="'active'" ng-class-odd="'success'">
				<td>{{$index}}</td>
				<td>{{row.id}}</td>
				<td>{{row.name}}</td>
				<td>{{row.email}}</td>
				<td>{{row.ext}}</td>
				<td>{{row.mobile}}</td>
				<td>{{row.lastlogintime}}</td>
				<td><a href="" ng-click="onEditUser(row)">修改</a></td>
				<td><a href="" ng-click="onDeleteUser(row)">删除  </a></td>
			</tr>
			<tr ng-switch-when="true">
				<td colspan="9">用户角色：{{row.role}}</td>
			</tr>
		</tbody>
		<tbody ng-show="isLoading">
			<tr>
				<td colspan="9" class="text-center">Loading ... </td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td class="text-center" st-pagination="" st-items-by-page="10" colspan="9">
			</td>
		</tr>
		</tfoot>
	</table>	

                </div>
            </div>
        </div>

    </div>
</div>