<div ng-controller='homeCtrl'>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">待处理任务</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="2" comments="待处理任务" colour="primary" type="tasks" goto="taskinwait"></stats>
        <stats number="1" comments="待查看信息" colour="green" type="info" goto="infotocheck"></stats>
        <stats number="0" comments="待处理警告" colour="yellow" type="bell" goto="warntoverify"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
				<div ng-include="'home/taskinwait.html'"  ng-class="{'taskinwait': 'show', 'infotocheck': 'hidden','warntoverify': 'hidden'}[mode]"></div>
				<div ng-include="'home/infotocheck.html'" ng-class="{'taskinwait': 'hidden', 'infotocheck': 'show','warntoverify': 'hidden'}[mode]"></div>
             	<div ng-include="'home/warntoverify.html'" ng-class="{'taskinwait': 'hidden', 'infotocheck': 'hidden','warntoverify': 'show'}[mode]"></div>

            <!-- /.panel -->
        </div>
    </div>
    <!-- /.row -->
</div>
