<div class="row" ng-controller="prodBasicCtrl">
    <div>
            <div class="panel-body">
            
                    <div class="col-lg-10">
						<form class=" form-horizontal" role="form"  >
							<div class="form-group">
								<label class="col-sm-3 control-label">项目编号：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="productId">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">内部编号：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="productInnerId">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">项目名称：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="productName">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">项目简称：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="productBriefName">
				            </div>
				            
				            <div class="form-group ">
				                <label class="col-sm-3 control-label">合同类型：</label>
				                <select class="form-control col-sm-6" ng-change="onChangeProductType()" ng-model="productType" ng-options="pro.value for pro in productTypeList"/>
				            </div>
				            
				            <div class="form-group " ng-show="productType.key==3" >
				                <label class="col-sm-3 control-label">信托子类型：</label>
				                <select class="form-control  col-sm-6" ng-change="onChangeTrustSubType()" ng-model="trustSubType" ng-options="type.value for type in trustSubTypeList" />
				            </div>
				            
				            
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">是否需要评级：</label>
				            	<select class="form-control  col-sm-6" ng-model="needCreditVerify" ng-options="type.value for type in yesOrNoList" />
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">是否需要外部律师意见：</label>
				            	<select class="form-control  col-sm-6" ng-model="needLawVerify" ng-options="type.value for type in yesOrNoList" />
				            </div>
				            
						</form>
					</div>
					
					
					
     		<!-- /.col-lg-12 -->
 			</div>
 		</div>
 	</div>