<div class="row" ng-controller="prodIncomeCtrl">
    <div>
            <div class="panel-body">
            
                    <div class="col-lg-10">
						<form class=" form-horizontal" role="form"  >
							<div class="form-group">
								<label class="col-sm-3 control-label">投资收益率类型：</label>
				            	<select class="form-control  col-sm-6" ng-model="portRatingType"  ng-options="type.value for type in portRatingTypeList" />
				            </div>
				            <div class="form-group " ng-if="portRatingType==1">
				            	<label class="col-sm-3 control-label">投资收益率（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="portRating">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">基准利率：</label>
				            	<select class="form-control  col-sm-6" ng-model="benchYieldType" ng-options="type.value for type in benchYieldTypeList" />
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">基准利率变动系数：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="benchYieldRatio">
				            </div>
				            
				            <div class="form-group ">
				                <label class="col-sm-3 control-label">基准利率调整频率：</label>
				                <select class="form-control  col-sm-6" ng-model="benchYieldAdjust" ng-options="type.value for type in benchYieldAdjustList" />
				            </div>
				            
				            <div class="form-group ">
				                <label class="col-sm-3 control-label">基准利率利差（%）：</label>
				                <input type="text" class="form-control col-sm-6" ng-model="interestMargin">
				            </div>
				            
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">投资收益率上限（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="portRatingUpLimit">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">投资收益率下限（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="portRatingLowLimit">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">当前投资收益率（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="curPortRating">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">托管费（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="depositFee">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">独立监督费（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="superviseFee">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">财务顾问费（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="consultantFee">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">其他费用（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="otherFee">
				            </div>
				            <div class="form-group ">
				            	<label class="col-sm-3 control-label">合计费用（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="totalFee">
				            </div>
				            
				             <div class="form-group ">
				            	<label class="col-sm-3 control-label">净投资收益率（%）：</label>
				            	<input type="text" class="form-control col-sm-6" ng-model="netPortRating">
				            </div>
				             <div class="form-group ">
				            	<label class="col-sm-3 control-label">净收益率计算方式：</label>
				            	<select class="form-control  col-sm-6" ng-model="netPortRatingAlgo"  ng-options="type.value for type in netPortRatingAlgoList" />
				            </div>
						</form>
					</div>
					
					
					
     		<!-- /.col-lg-12 -->
 			</div>
 		</div>
 	</div>